@use "../mixin.scss";

.presentation {
  @include mixin.flex-wrap;
  @include mixin.flexcontainer-vertical;

  justify-content: right;

  p {
    text-align: justify;
  }

  .flexcontainer-horizontal {
    >* {
      flex-basis: 50%;
        flex-grow: 0;
    }
  }
}