@import "../mixin.scss";

.presentation {
  @include flexcontainer;
  box-sizing: border-box;
  padding: 2rem;

  h2 {
    text-align: center;
  }

  .description {
    @include container;
    text-align: justify;

    p {
      margin: 0;
    }
  }

  .skills {
    @include flexcontainer-horizontal;
    text-transform: uppercase;

    &>div {
      @include container;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}