@mixin container {
  box-shadow: 0px 0px 6px 0 rgba(0,0,0,0.53);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1rem;

  .cover {
    border-radius: 5px 5px 0 0;
  }
}

@mixin container-nopadding {
  @include container;
  padding: 0;
}

@mixin flex-wrap($grow_child: true) {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;

  @if ($grow_child) {

    &>* {
      flex-grow: 1;
    }
  }
}

@mixin flexcontainer-horizontal {
  flex-direction: row;
}

@mixin flexcontainer-vertical {
  flex-direction: column;
}